/**
  * @name Revert Rebrand
  * @author Krocord, KDCCreative, Goose-Nest
  * @description Reverts Discord's 2021 rebrand
  * @website https://github.com/Goose-Nest/GT-RevertRebrand
  * @version 5.2
*/

/* If you do not want some things reverted, commend out imports like /* @import url("...") */

/* [Recommended] Revert CSS variables: colors, fonts */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/variables.css');

/* Generated hardcoded color fixes */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/hardcoded.css');


/* Individual components: */

/* Revert mentions */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/components/mentions.css');

/* Revert reactions */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/components/reactions.css');

/* Revert profile pictures */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/components/pfps.css');

/* Revert folders (default colors back to old blurple) */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/components/folders.css');

/* Revert windows wordmark */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/components/wordmark.css');

/* [Optional] Revert new user popouts */
/* @import url('https://KDCCreative.github.io/GT-RevertRebrand/src/components/userPopout.css'); */

/* [Optional] Revert new role designs */
/* @import url('https://KDCCreative.github.io/GT-RevertRebrand/src/components/roles.css'); */

/* General changes: */

/* Revert some BD specific elements */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/general/bd.css');

/* Revert some inputs */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/general/inputs.css');

/* Revert some SVGs (colors for smaller icons) */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/general/svgs.css');

/* Revert some other minor things */
@import url('https://KDCCreative.github.io/GT-RevertRebrand/src/general/other.css');

/* Revert the old Icons (2023) */
@import url(https://davart154.github.io/Themes/Icon%20Revert%202023/2023%20Icon%20Revert.css);

/* fixes the colors not being applied in certain cases */
.theme-dark, .theme-light {
  /* Revert new green to old color */
  --info-positive-foreground: var(--old-green);
  --status-positive-background: var(--old-green);
  --text-positive: var(--old-green);

  /* Revert new red to old color */
  --text-danger: var(--old-red);
  --info-danger-foreground: var(--old-red);
  --status-danger-background: var(--old-red);
}
.colorDanger-3n-KnP.focused-3qFvc8 {
    background-color: var(--old-red);
    color: #ffffff;
}

/* Fonts by mibits ported from main.css in the repo oldcord https://github.com/milbits/oldcord https://github.com/milbits/ */
/** Fonts*/
@font-face {
	font-family: "Whitney";
	font-weight: 300;
	src: url(https://milbits.github.io/oldcord/src/assets/thin.woff2) format("woff2");
}
@font-face {
	font-family: "Whitney";
	src: url(https://milbits.github.io/oldcord/src/assets/normal.woff2);
}
@font-face {
	font-family: "Whitney";
	font-style: italic;
	src: url(https://milbits.github.io/oldcord/src/assets/cursive.woff2);
}
@font-face {
	font-weight: 500;
	font-family: "Whitney";
	src: url(https://milbits.github.io/oldcord/src/assets/kindaBold.woff2);
}
@font-face {
	font-family: "Whitney";
	font-weight: 600;
	src: url(https://milbits.github.io/oldcord/src/assets/bold.woff2) format("woff2");
}
@font-face {
	font-weight: 700;
	font-family: "Whitney";
	src: url(https://milbits.github.io/oldcord/src/assets/veryBold.woff2);
}
@font-face {
	font-weight: 700;
	font-style: italic;
	font-family: "Whitney";
	src: url(https://milbits.github.io/oldcord/src/assets/cursiveBold.woff2);
}
